<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Almacen Jennifer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus icon"></i>
        <div class="logo_name">Almacen Comercial Jennifer</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        
        <!-- Inicio -->
        <li>
          <a href="/inicio">
            <i class='bx bxs-home'></i>
            <span class="links_name">Inicio</span>
          </a>
          <span class="tooltip">Inicio</span>
        </li>

        <!-- Clientes -->
        <li>
          <a href="/clientes">
            <i class="bx bx-user"></i>
            <span class="links_name">Cliente</span>
          </a>
          <span class="tooltip">Cliente</span>
        </li>

        <!-- Vendedores -->
        <% if( UserRol == 'Gerente') { %>
          <li>
            <a href="/vendedores">
              <i class="bx bx-chat"></i>
              <span class="links_name">Vendedor</span>
            </a>
            <span class="tooltip">Vendedor</span>
          </li>
        <% } %>

        <!-- Proveedores -->
        <% if( UserRol == 'Gerente') { %>
          <li>
            <a href="/Proveedores">
              <i class='bx bxs-shopping-bag'></i>
              <span class="links_name">Proveedores</span>
            </a>
            <span class="tooltip">Proveedores</span>
          </li>
        <% } %>
        
        <!-- Productos -->
        <li>
          <a href="/productos">
            <i class="bx bx-purchase-tag-alt"></i>
            <span class="links_name">Producto</span>
          </a>
          <span class="tooltip">Producto</span>
        </li>

        <!-- Compras -->
        <% if( UserRol == 'Gerente') { %>
          <li>
            <a href="/Compras">
              <i class='bx bxs-shopping-bags'></i>
              <span class="links_name">Compras</span>
            </a>
            <span class="tooltip">Compras</span>
          </li>
        <% } %>

        <!-- Ventas -->
        <li>
          <a href="/ventas">
            <i class="bx bx-credit-card"></i>
            <span class="links_name">Ventas</span>
          </a>
          <span class="tooltip">Ventas</span>
        </li>


        <!-- Abonos -->
        <li>
          <a href="/abonos">
            <i class="bx bx-money"></i>
            <span class="links_name">Abonos</span>
          </a>
          <span class="tooltip">Abonos</span>
        </li>

        <!-- Configuracion o Cerrar sesion -->
        <% if( UserRol == 'Gerente') { %>
          <!-- Configuracion -->
          <li>
            <a onclick="AbrirConfig()">
              <i class='bx bxs-cog' ></i>
              <span class="links_name">Opciones</span>
            </a>
            <span class="tooltip">Opciones</span>
          </li> 
        <% } else { %>
          <!-- Cerrar Sesion -->
          <li>
            <a onclick="confirmLogOut()">
              <i class='bx bx-log-out' ></i>
              <span class="links_name">Cerrar Sesión</span>
            </a>
            <span class="tooltip">Cerrar Sesión</span>
          </li>
        <% } %>





         

        <script>
          function confirmLogOut() 
          {
              Swal.fire({
                  title: '¿Está seguro?',
                  text: 'Esta a punto de cerrar sesión del sistema. ¿Está seguro?',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#d33',
                  cancelButtonColor: '#3085d6',
                  confirmButtonText: 'Sí, Cerrar Sesión',
                  cancelButtonText: 'Cancelar'
              }).then((result) => {
                  if (result.isConfirmed) {
                      // Si el usuario confirma, redirecciona a la ruta de cerrar Sesion
                      window.location.href = '/logout';
                  }
              });
          }
        </script>

      </ul>
    </div>


    <!-- <div id="PanelConfig" class="panel-flotante panel-ancho" style="display: none">
      <div class="panel-content">
        <h4 class="fw-bold">Opciones del Sistema</h4>

        <div style="max-height: 300px;">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-3 my-3">

                <a type="button" class="btn btn-info" href="https://www.dropbox.com/scl/fi/20n6r4p9igvkbz5nar5kd/Manual.pdf?rlkey=kvxa66r3jrfn4g5w1l4n61av8&st=wp1rgbj3&dl=1" download>
                  <i class="fa-solid fa-book-open"></i> Manual de Uso
                </a>
              </div>

              <div class="col-6 col-md-3 my-3">
                <button type="button" class="btn btn-success" onclick="">
                  <i class="fa-regular fa-floppy-disk"></i> Copia de Seguridad
                </button>
              </div>

              <div class="col-6 col-md-3 my-3">
                <button type="button" class="btn btn-danger " onclick="confirmLogOut()">
                  <i class='bx bx-log-out'></i> Cerrar  la Sesión
                </button>
              </div>

            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary mx-2" onclick="cerrarConfig()">Cerrar Configuración</button>
      </div>
    </div> -->
    
    <div id="PanelConfig" class="panel-flotante panel-ancho" style="display: none">
      <div class="panel-content">
        <h4 class="fw-bold">Opciones del Sistema</h4>
    
        <div style="max-height: 300px;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-6 col-md-3 my-3 d-flex justify-content-center">
                <a type="button" class="btn btn-info" href="https://www.dropbox.com/scl/fi/20n6r4p9igvkbz5nar5kd/Manual.pdf?rlkey=kvxa66r3jrfn4g5w1l4n61av8&st=wp1rgbj3&dl=1" download>
                  <i class="fa-solid fa-book-open"></i> Manual de Uso
                </a>
              </div>
    
              <div class="col-6 col-md-3 my-3 d-flex justify-content-center">
                <a type="button" class="btn btn-success" id="backupButton" href="/respaldar">
                  <i class="fa-regular fa-floppy-disk"></i> Copia de Seguridad
                </a>
              </div>

              


    
              <div class="col-6 col-md-3 my-3 d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="confirmLogOut()">
                  <i class='bx bx-log-out'></i> Cerrar la Sesión
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn btn-primary mx-2" onclick="cerrarConfig()">Cerrar Configuración</button>
      </div>
    </div>
    


    <script src="resources/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    
    <script>
      function AbrirConfig() 
      {
        var panel = document.getElementById("PanelConfig");
        panel.style.display = "block";
      }

      function cerrarConfig() 
      {
        var panel = document.getElementById("PanelConfig");
        panel.style.display = "none";
      }
    </script>

  </body>
</html>
