<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendedores</title>
    <!-- FA pencil-->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrao-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"crossorigin="anonymous"/>
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"rel="stylesheet"/>
    <!--Estilo CSS-->
    <link rel="stylesheet" href="resources/css/style.css" />
  </head>
  <body>
    <%- include('sidebar.ejs') %> 
    <section class="home-section">
      <div class="Container px-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h2>Datos del Vendedor</h2>
            <form>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre y Apellido</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre y Apellido">
                </div>
                <div class="mb-3">
                    <label for="Telefono" class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="Telefono" placeholder="Telefono">
                  </div>
                  <div class="mb-3">
                    <label for="Cedula" class="form-label">Cedula</label>
                    <input type="text" class="form-control" id="Cedula" placeholder="Cedula">
                  </div>
                  <div class="mb-3">
                    <label for="Residencia" class="form-label">DIRECCION</label>
                  </div>
                  <select class="form-select" aria-label="Distrito">
                    <option selected>Seleccionar distrito</option>
                    <option value="1">Distrito I</option>
                    <option value="2">Distrito II</option>
                    <option value="3">Distrito III</option>
                    <option value="4">Distrito IV</option>
                    <option value="5">Distrito V</option>
                    <option value="6">Distrito VI</option>
                    <option value="7">Distrito VII</option>
                  </select>
                  <div class="mb-3 dx-2">
                    <label for="Residencia" class="form-label">Zona de Residencia</label>
                    <input type="text" class="form-control" id="Residencia" placeholder="Z. Residencia">
                  </div>
                  <div class="mb-3">
                    <label for="PuntoReferencia" class="form-label">Punto de Referencia</label>
                    <input type="text" class="form-control" id="PuntoReferencia" placeholder="P. Referencia">
                  </div>
                  <div class="mb-3">
                    <label for="Distancia" class="form-label">Distancia</label>
                    <input type="text" class="form-control" id="Distancia" placeholder="Distancia">
                  </div>
                  <div class="mb-3">
                    <label for="casa" class="form-label">Numero de casa</label>
                    <input type="text" class="form-control" id="casa" placeholder="N. Casa">
                  </div>
                  <div class="d-grid gap-2">
                    <Button class="btn btn-success">Guardar</Button>
                    <Button class="btn btn-secondary">Limpiar Campos</button>
                  </div>
                
              </form>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h2>Listado de Vendedores</h2>
            <table class="table primary">
                <thead>
                  <tr>
                    <th class="centrado">Nombre completo</th>
                    <th class="centrado">Telefono</th>
                    <th class="centrado">Cedula</th>
                    <th class="centrado">Distrito</th>
                    <th class="centrado">Z. Residencia</th>
                    <th class="centrado">P. Referencia</th>
                    <th class="centrado">Distancia</th>
                    <th class="centrado">N. Casa</th>
                    <th class="centrado">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="centrado">Joseph Bejarano</td>
                    <td class="centrado">87347856</td>
                    <td class="centrado">0012006152510W</td>
                    <td class="centrado">VII</td>
                    <td class="centrado">Barrio de mala muerte</td>
                    <td class="centrado">Bomba de la 68</td>
                    <td class="centrado">2c Arriba</td>
                    <td class="centrado">N4578</td>
                    <td>
                      <!-- Botones de acciones -->
                      <button type="button" class="btn btn-success btn-margin" title="Actualizar">Actualizar</button>
                      <button type="button" class="btn btn-danger btn-margin" title="Eliminar">Eliminar</button>
                  </td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="resources/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
