<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="resources/css/style.css" />
  </head>
  <body>
    <%- include('sidebar.ejs') %> 
    <section class="home-section">
      <div class="Container">
        
        <div class="Container px-3 py-1 contenedorventas">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2 class="centrado">Registro e historial de</h2>
            <h2 class="centrado">ventas al contado</h2>
          </div>
        </div>
        
        <div class="Container">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="accordion accordion-flush py-3" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed contenedorventas" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                      <h5>REGISTRAR UNA NUEVA VENTA AL CONTADO</h5>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="Container">
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <h5 class="px-3">Por favor rellenar el formulario</h5>
                            <div>
                              <form class="px-3">
                                <label for="exampleDataList" class="form-label"
                                  >Digite la Cedula del cliente</label
                                >
                                <input
                                  class="form-control"
                                  list="datalistOptions"
                                  id="exampleDataList"
                                  placeholder="Type to search..."
                                />
                                <datalist id="datalistOptions">
                                  <option value="San Francisco"></option>
                                  <option value="New York"></option>
                                  <option value="San Francisco"></option>
                                  <option value="New York"></option>
                                  <option value="Seattle"></option>
                                  <option value="Los Angeles"></option>
                                  <option value="Kenneth Fabian Silva Hernandez"></option>
                                </datalist>
                
                                <label for="exampleDataList" class="form-label"
                                  >Digite la Cedula del vendedor</label
                                >
                                <input
                                  class="form-control"
                                  list="datalistOptions"
                                  id="exampleDataList"
                                  placeholder="Escribe para buscar..."
                                />
                                <datalist id="datalistOptions">
                                  <option value="San Francisco"></option>
                                  <option value="New York"></option>
                                  <option value="San Francisco"></option>
                                  <option value="New York"></option>
                                  <option value="Seattle"></option>
                                  <option value="Los Angeles"></option>
                                  <option value="Kenneth Fabian Silva Hernandez"></option>
                                </datalist>
                
                                <div class="mb-3">
                                  <label for="Fecha_Venta" class="form-label"
                                    >Ingrese la fecha de venta</label
                                  >
                                  <input
                                    type="date"
                                    class="form-control"
                                    id="Fecha_Venta"
                                    placeholder="Ingrese la fecha"
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="text" class="form-label"
                                    >Categoria del producto</label  
                                  >
                
                                  <select
                                    class="form-select"
                                    id="categoriaSelect1"
                                    onchange="mostrarTablaSegunCategoria1()"
                                  >
                                    <label for="Categoria" class="form-label"
                                      >Seleccione la categoria del prodcuto que desea</label
                                    >
                                    <option selected>Seleccione una categoria</option>
                                    <option value="1">Calzado</option>
                                    <option value="2">Prendas de Vestir</option>
                                    <option value="3">Cosmeticos</option>
                                    <option value="4">Electrodomestico</option>
                                    <option value="5">Productos Plasticos</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                            <div id="tablaCalzado" style="display: none">
                              <table class="table primary">
                                <thead>
                                  <tr>
                                    <th class="centrado">Nombre del producto</th>
                                    <th class="centrado">Marca</th>
                                    <th class="centrado">Existencia</th>
                                    <th class="centrado">Precio</th>
                                    <th class="centrado">Color</th>
                                    <th class="centrado">Tipo</th>
                                    <th class="centrado">Talla</th>
                                    <th class="centrado">Modelo</th>
                                    <th class="centrado col-xl-1">Accion</th>
                                  </tr>
                                  <tbody>
                                    <tr>
                                      <td class="centrado">Zapato</td>
                                      <td class="centrado">Nike</td>
                                      <td class="centrado">15</td>
                                      <td class="centrado">570 C$</td>
                                      <td class="centrado">Negro</td>
                                      <td class="centrado">High</td>
                                      <td class="centrado">42</td>
                                      <td class="centrado">Retro 1</td>
                                      <td class="row px-4 ">
                                        <!-- Botones de acciones -->
                                        <input type="number" class="centrado mb-2">
                                        <button type="button" class="btn btn-success px-3" title="Añadir"><i class="fa-solid fa-cart-plus"></i></button>
                                      </td> 
                                    
                                    </tr>
                                  </tbody>
                                </thead>
                              </table>
                            </div>
                            <div id="tablaPrendas" style="display: none">
                              <table class="table primary">
                                <thead>
                                  <tr>
                                    <th class="centrado">Nombre del producto</th>
                                    <th class="centrado">Marca</th>
                                    <th class="centrado">Existencia</th>
                                    <th class="centrado">Precio</th>
                                    <th class="centrado">Color</th>
                                    <th class="centrado">Tipo</th>
                                    <th class="centrado">Talla</th>
                                    <th class="centrado col-1">Accion</th>
                                  </tr>
                                  <tbody>
                                    <td class="centrado">Camisa</td>
                                    <td class="centrado">Colombia</td>
                                    <td class="centrado">20</td>
                                    <td class="centrado">150 C$</td>
                                    <td class="centrado">Azul</td>
                                    <td class="centrado">camisa</td>
                                    <td class="centrado">M</td>
                                    <td class="row px-4 centrado">
                                      <!-- Botones de acciones -->
                                      <input type="number" class="centrado mb-2">
                                      <button type="button" class="btn btn-success px-3" title="Añadir"><i class="fa-solid fa-cart-plus"></i></button>
                                    </td> 
                                  </tbody>
                                </thead>
                              </table>
                            </div>
                            <div id="tablaCosmeticos" style="display: none">
                              <table class="table primary">
                                <thead>
                                  <tr>
                                    <th class="centrado">Nombre del producto</th>
                                    <th class="centrado">Marca</th>
                                    <th class="centrado">Existencia</th>
                                    <th class="centrado">Precio</th>
                                    <th class="centrado">Color</th>
                                    <th class="centrado">Tipo</th>
                                    <th class="centrado">Clasificacion</th>
                                    <th class="centrado col-1">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td class="centrado">Labial</td>
                                  <td class="centrado">FENTY BEAUTY</td>
                                  <td class="centrado">18</td>
                                  <td class="centrado">1000 C$</td>
                                  <td class="centrado">Rojo Pasion</td>
                                  <td class="centrado">lapiz labial</td>
                                  <td class="centrado">lipstick</td>
                                  <td class="row px-4 centrado">
                                    <!-- Botones de acciones -->
                                    <input type="number" class="centrado mb-2">
                                    <button type="button" class="btn btn-success px-3" title="Añadir"><i class="fa-solid fa-cart-plus"></i></button>
                                  </td> 
                                </tbody>
                              </table>
                            </div>
                            <div id="tablaElectrodomesticos" style="display: none">
                              <table class="table primary">
                                <thead>
                                  <tr>
                                    <th class="centrado">Nombre del producto</th>
                                    <th class="centrado">Marca</th>
                                    <th class="centrado">Existencia</th>
                                    <th class="centrado">Precio</th>
                                    <th class="centrado">Color</th>
                                    <th class="centrado">Tipo</th>
                                    <th class="centrado">Modelo</th>
                                    <th class="centrado col-1">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td class="centrado">Lavadora</td>
                                  <td class="centrado">whirlpool</td>
                                  <td class="centrado">3</td>
                                  <td class="centrado">35,000 C$</td>
                                  <td class="centrado">Blanco</td>
                                  <td class="centrado">Lava-secadora</td>
                                  <td class="centrado">SCPH21-2303</td>
                                  <td class="row px-4 centrado">
                                    <!-- Botones de acciones -->
                                    <input type="number" class="centrado mb-2">
                                    <button type="button" class="btn btn-success px-3" title="Añadir"><i class="fa-solid fa-cart-plus"></i></button>
                                  </td> 
                                </tbody>
                              </table>
                            </div>
                            <div id="tablaPPlasticos" style="display: none">
                              <table class="table primary">
                                <thead>
                                  <tr>
                                    <th class="centrado">Nombre del producto</th>
                                    <th class="centrado">Marca</th>
                                    <th class="centrado">Existencia</th>
                                    <th class="centrado">Precio</th>
                                    <th class="centrado">Color</th>
                                    <th class="centrado">Tipo</th>
                                    <th class="centrado">Dimensiones</th>
                                    <th class="centrado">Unidad de medida</th>
                                    <th class="centrado">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td class="centrado">Mesa</td>
                                  <td class="centrado">Plastic</td>
                                  <td class="centrado">9</td>
                                  <td class="centrado"></td>
                                  <td class="centrado">Azul</td>
                                  <td class="centrado"></td>
                                  <td class="centrado"></td>
                                  <td class="centrado"></td>
                                  <td class="row px-4 centrado">
                                    <!-- Botones de acciones -->
                                    <input type="number" class="centrado mb-2">
                                    <button type="button" class="btn btn-success px-3" title="Añadir"><i class="fa-solid fa-cart-plus"></i></button>
                                  </td> 
                                </tbody>
                              </table>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      
                      <div class="Container" id="factura" style="display: none">
                        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                          <table class="table" id="tablacliente">
                            <thead>
                              <tr>
                                <th class="centrado">Cliente</th>
                                <th class="centrado">Vendedor</th>
                                <th></th>
                                <th class="centrado">Fecha</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="centrado">Mateo</td>
                                <td class="centrado">Jonathan</td> 
                                <td></td>                     
                                <td class="centrado">13/04/2024</td>
                              </tr> 
                              <thead>
                                <tr>
                                    <th class="centrado">Producto</th>                          
                                    <th class="centrado">Cantidad Producto</th>
                                    <th class="centrado">Precio</th>
                                    <th class="centrado">Accion</th>
                                </tr>
                              </thead>
                            <tbody>
                              <tr>
                                <td class="centrado">Zapatos</td>                     
                                <td class="centrado">3</td>
                                <td class="centrado">150 C$</td>
                                <td class="centrado">
                                  <div class="centrado">
                                    <div class="d-flex justify-content-center align-items-center">
                                      <input type="number" class="form-control form-control-sm me-2" style="width: 3rem;">
                                      <button type="button" class="btn btn-danger px-3" title="Eliminar"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            
                            </tbody>  
                            <thead> 
                              <th></th>
                              <th></th>        
                              <th></th>
                              <th class="centrado">Cantidad Total</th>
                            </thead> 
                            <tbody>
                              <td></td>
                              <td></td>
                              <td></td>  
                              <td class="centrado"> 450 C$</td>  
                            </tbody>
                          </table>
                         
                          <div  class="centrado text-end" id="btnfactura">
                            <Button class="btn btn-success ">Guardar Factura</Button>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="py-3">
              <h4 style="display: flex; justify-content: space-between">Listado de ventas al contado</h4>
            </div>
          
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand px-3">Buscar una venta al contado</a>
                <form class="d-flex" role="search">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Buscar..."
                    aria-label="Search"
                  />
                  <button class="btn btn-outline-success" type="submit">
                    Buscar
                  </button>
                </form>
              </div>
            </nav>
            <table class="table primary px-3">
              <thead>
                <tr>
                  <th class="centrado">Nombre del cliente</th>
                  <th class="centrado">Nombrede vendedor</th>
                  <th class="centrado">Fecha de venta</th>
                  <th class="centrado">Cantidad total</th>
                  <th class="centrado">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="centrado">Cliente A</td>
                  <td class="centrado">Vendedor X</td>
                  <td class="centrado">2024-04-20</td>
                  <td class="centrado">$250.00</td>
                  <td class="centrado">
                    <button
                      type="button"
                      class="btn btn-success"
                      title="Informacion de la venta"
                      onclick=""
                    >
                      <i class="fa-solid fa-money-check-dollar"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger px-3"
                      title="Eliminar"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="resources/js/script.js"></script>
    <script src="resources/js/ScriptVentaContado.js"></script>
  </body>
</html>
